@media screen and (min-width: 500px) {
body {
    background-color: rgb(151, 199, 199); /*here we are making the background color*/
  }
  h2 {
    background-color: black;
    color: green;
  }
  h1 {
    text-align: center;
    text-decoration: wavy overline blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}
video{
    position: inherit;
}
.logo{
    height: 400px;
    width: 500px;
    max-width: 50%;
    min-width: 50%;
    position: static;
}
.blockforparagraphs,
p {
  border: 0.1em dotted rgb(0, 0, 0);
  border-radius: 1.5cm 5.3mm;
  padding: 0.2in, 20px, 10px, 10px;
  margin: 20px, 20px, 0.5vw, 0.5vh;
  display: inline;
}
.blocksh3,
h3{
    border-style: double;
    border-color: green;
    border-width: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: block;
}
button:hover {
    color:#FF0000;
  }
button:active{
    color: hsl(140, 100%, 23%); /*christmas color for button*/
}  
.formatting{
    color: coral;
}
a[href="https://www.linkedin.com/in/thomasapowell/"] {
    color:brown;
}
ul li {
    list-style-type: circle;
  }
div > span {
    font-variant-caps: small-caps;
}
span ~ p{
    font-weight: bold;
}
h5 + h6{
    text-decoration: underline;
}
h7, h8{
    font-family:cursive;
}
img{
    width: 300px;
    height: 300px;
    flex-grow: 3;
}
.container{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-shrink: inherit;
    flex-flow: column wrap;
}

.a{
    width: 200px;
    height: 200px;
}
.b{
    width: 200px;
    height: 200px;
}
.c{
    width: 200px;
    height: 200px;
}
.d{
    width: 200px;
    height: 200px;
}
.e{
    width: 200px;
    height: 200px;
}
.f{
    width: 200px;
    height: 200px;
}
.grid{
    display: grid;
    grid-template-columns: 210px 210px;
    grid-template-rows: 210px 210px;
    grid-area: auto;
}
* {
    color: gold;
}
}